h1 {
	color: darkgreen;
	font-weight: bold;
	text-align: center;
}

caption {
	color: blue;
	font-size: 25px;
}

th {
	background-color: lightblue;
	text-align: center;
	font-weight: bold;
	width: 100px;
}

table {
	border: 1px solid black;
	border-collapse: collapse;
	margin: auto;
}

td, th {
	border: 1px solid black;
}

#lm {
	background-color:rgb(175, 117, 228);
}

#ped {
	background-color:rgb(17, 225, 58);
}

#bd {
	background-color:rgb(223, 214, 32);
}

#diw {
	background-color:rgb(220, 76, 186);
}

#tut {
	background-color:rgb(149, 146, 151);
}

#ipoi {
	background-color:rgb(231, 164, 88);
}

#an {
	background-color:rgb(97, 85, 222);
}

#si {
	background-color:rgb(213, 94, 94);
}